* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

html {
    font-family: 'arial', sans-serif;
    font-size: 12px;
}

body {
    background-color: #DDD;
}

svg#Canvas {
    position: absolute;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    top: 100px;
}

section.UI-1 {
    position: absolute;
    padding: 15px;
    top: 0px;
    left: 0px;
    width: 150px;
    background-color: #FFF;
}

section.UI-1 > #layerID {
    margin-bottom: 25px;
    font-weight: bold;
    color: #d82e2e;
}

section.UI-1 > ul {
    list-style: none;
}

section.UI-1  label {
    font-weight: bold;
    color: #888;
}

#toolBox {
    margin-bottom: 25px;
}

#toolBox > li {
    margin-bottom: 5px;
}

#colorStroke > li {
    margin-bottom: 10px;
    text-align: right;
}

svg#Canvas .moveToolDragSelection {    
    stroke: #888;
    fill: #DDD;    
}

.bossElement {
    stroke : #F00;
    stroke-width : .5;
}

.bossElement .pathEditLine {
    fill : transparent;
    z-index: 1;
}

.bossElement .vertex {    
    fill : #FFF;
    z-index: 2;
}

.bossElement .controlPoint {
    fill : #F00;
    z-index: 3;
}

.bossElement .false {
    display: none;
}