* {
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
}

body {
	background-color: #DDD;
}

svg#Canvas {
	position: absolute;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	top: 100px;
}

#toolBox {
	position: absolute;
	padding: 15px;
	top: 0px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
}